.carousel-wrapper {
    position: relative;
    width: 100%;
    min-height: 30rem;
    max-height: 46rem;
    overflow: hidden;
    cursor: grab;
    margin-top: 2rem;

    &__items {
        position: absolute;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(5, 23rem);
        grid-gap: 2rem;
        pointer-events: none;
    }
}
