@use "../common/variables" as var;

.tabs {
    margin: 1rem auto;
    height: 60rem;
    position: relative;

    .tab {
        display: inline-block;

        &__input[type="radio"] {
            display: none;

            // if a checkbox with the id starting with "tab" is checked
            // display the content of it
            &[id^="tab"]:checked {
                + .tab__label {
                    color: var.$themeBlack;
                }
                ~ .tab__content {
                    display: block;
                }
            }
        }

        &__label {
            color: var.$themeGrey;
            padding: 1rem 0;
            margin-right: 2rem;
            cursor: pointer;
            display: inline-block;
            font-weight: 800;
        }

        &__content {
            border: 0.1rem solid var.$themeLightGrey;
            position: absolute;
            left: 0;
            display: none;
            padding: 3.2rem;
            width: 100%;
            background: var.$themeWhite;

            &__title {
                margin-bottom: 1rem;
                font-family: var.$fontRaleway;
                font-size: 2.2rem;
                font-weight: 800;
            }

            &__body {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-clamp: 3;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin-bottom: 1.6rem;
                max-width: 78rem;
            }
        }
    }
}
