<footer class="footer">
    <div class="footer__actions">
        <div class="button-wrapper">
            <button class="btn btn--outline language-changer">
                <i class="bi bi-globe icon"></i>
                <span class="text">English</span>
            </button>
        </div>
        <div class="links">
            <ul class="list d-mobile-none">
                <li class="list__item">
                    <a href="#" class="list__item__link">Udemy Business</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Teach on Udemy</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Help and Support</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Affiliate</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Investors</a>
                </li>
            </ul>
            <ul class="list">
                <li class="list__item">
                    <a href="#" class="list__item__link">About us</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Contact us</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Careers</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Terms</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Privacy policy</a>
                </li>
            </ul>
            <ul class="list">
                <li class="list__item">
                    <a href="#" class="list__item__link">Cookie settings</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Blog</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Sitemap</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link">Get the app</a>
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link"
                        >Accessibility statement</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__logo-copyright">
        <a href="/">
            <img
                class="logo"
                alt="Udemy logo in footer"
                src="/public/images/udemy-logos/logo-udemy-inverted.svg"
            />
        </a>
        <small id="footerCopyright" class="copyright"
            >&copy; 2022 Udemy, Inc.</small
        >
    </div>
</footer>
