<header class="header">
    <nav class="nav on-mobile-tablet d-desktop-none">
        <ul class="list nav__list">
            <li class="list__item">
                <button data-element-open="side-nav" class="btn nav__button">
                    <i class="bi bi-list"></i>
                </button>
            </li>
            <li class="list__item">
                <a href="/" class="logo-holder">
                    <img
                        src="/public/images/udemy-logos/logo-udemy.svg"
                        alt="Udemy logo"
                        class="logo"
                    />
                </a>
            </li>
            <li class="list__item">
                <i
                    class="bi bi-search nav__list__link icon"
                    data-content-load="search"
                ></i>
                <a href="/" class="nav__list__link">
                    <i class="bi bi-cart3"></i>
                </a>
            </li>
        </ul>
    </nav>
    <nav
        class="nav on-desktop d-mobile-none d-tablet-none"
        style="justify-content: space-between"
    >
        <ul class="list nav__list logo-categories">
            <li class="list__item">
                <a href="/" class="logo-holder">
                    <img
                        src="/public/images/udemy-logos/logo-udemy.svg"
                        alt="Udemy logo"
                        class="logo"
                    />
                </a>
            </li>
            <li class="list__item">
                <a href="#" class="nav__list__link">Categories</a>
            </li>
        </ul>
        <form method="get" class="search__box">
            <button type="submit" class="btn search__box__submit">
                <i class="bi bi-search" data-content-load="search"></i>
            </button>
            <input
                type="text"
                class="search__box__input"
                placeholder="Search for anything"
            />
        </form>
        <ul class="list nav__list account-links">
            <li class="list__item" data-popover-open="popover-content">
                <a href="#" class="nav__list__link">Udemy Business</a>
                <div class="popover">
                    <div class="popover__header">
                        <h5 class="popover__header__title">
                            Upskill your team with 17,000 skill-based courses
                            and learning paths.
                        </h5>
                    </div>
                    <div class="popover__footer">
                        <a
                            href="#"
                            class="btn btn--primary popover__footer__btn"
                        >
                            Try Udemy Business
                        </a>
                    </div>
                </div>
            </li>
            <li class="list__item" data-popover-open="popover-content">
                <a href="#" class="nav__list__link">Teach on Udemy</a>
                <div class="popover">
                    <div class="popover__header">
                        <h5 class="popover__header__title">
                            Turn what you know into an opportunity and reach
                            millions around the world.
                        </h5>
                    </div>
                    <div class="popover__footer">
                        <a
                            href="#"
                            class="btn btn--primary popover__footer__btn"
                            >Learn more</a
                        >
                    </div>
                </div>
            </li>
            <li class="list__item" data-popover-open="popover-content">
                <a href="/" class="nav__list__link">
                    <i class="bi bi-cart3"></i>
                </a>
                <div class="popover">
                    <div class="popover__body">
                        <p class="popover__body__text">Your cart is empty.</p>
                    </div>
                    <div class="popover__footer">
                        <a href="#" class="popover__footer__link"
                            >Keep shopping</a
                        >
                    </div>
                </div>
            </li>
            <li class="list__item">
                <a href="#" class="btn btn--secondary">Log in</a>
            </li>
            <li class="list__item">
                <a href="#" class="btn btn--primary">Sign up</a>
            </li>
            <button
                data-content-load="languages-list"
                class="btn btn--secondary"
            >
                <i class="bi bi-globe icon"></i>
            </button>
        </ul>
    </nav>
</header>
