<header class="header">
    <nav class="nav">
        <ul class="list nav__list">
            <li class="list__item">
                <button data-element-open="side-nav" class="btn nav__button">
                    <i class="bi bi-list"></i>
                </button>
            </li>
            <li class="list__item">
                <a href="/" class="logo-holder">
                    <img
                        src="/public/images/udemy-logos/logo-udemy.svg"
                        alt="Udemy logo"
                        class="logo"
                    />
                </a>
            </li>
            <li class="list__item">
                <i
                    class="bi bi-search nav__list__link icon"
                    data-content-load="search"
                ></i>
                <a href="/" class="nav__list__link">
                    <i class="bi bi-cart3"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
