<main class="main">
    <section class="section">1</section>
    <section class="section"></section>
    <section class="section section--bg-light-grey">
        <h2 class="section__title">Why learn on Udemy?</h2>
        <ul class="list">
            <li class="list__item">
                <span>
                    Learn in-demand skills with over 204,000 video courses
                </span>
            </li>
            <li class="list__item">
                <span> Choose courses taught by real-world experts </span>
            </li>
            <li class="list__item">
                <span>
                    Learn at your own pace, with lifetime access on mobile and
                    desktop
                </span>
            </li>
        </ul>
    </section>
    <section class="section">
        <h2 class="section__title">Students are viewing</h2>
        <!-- Card carousel -->
    </section>
    <section class="section">
        <h2 class="section__title">Top categories</h2>
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__item__link">Design</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Development</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Marketing</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">IT and Software</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Personal Development</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Business</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Photography</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Music</a>
            </li>
        </ul>
    </section>
    <section class="section section--bg-light-grey">
        <h2 class="section__title">Featured topics by category</h2>
        <ul class="list">
            <li class="list__item">
                <h4>Development</h4>
                <ul class="list">
                    <li class="list__item">
                        <a href="#" class="list__item__link">Python</a
                        ><small class="list__item__info"
                            >36,327,611 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">Web Development</a
                        ><small class="list__item__info"
                            >11,409,567 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">Machine Learning</a
                        ><small class="list__item__info"
                            >7,066,683 students</small
                        >
                    </li>
                </ul>
            </li>
            <li class="list__item">
                <h4>Business</h4>
                <ul class="list">
                    <li class="list__item">
                        <a href="#" class="list__item__link"
                            >Financial Analysis</a
                        ><small class="list__item__info"
                            >1,194,924 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">SQL</a
                        ><small class="list__item__info"
                            >5,971,662 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">PMP</a
                        ><small class="list__item__info"
                            >1,732,442 students</small
                        >
                    </li>
                </ul>
            </li>
            <li class="list__item">
                <h4>IT and software</h4>
                <ul class="list">
                    <li class="list__item">
                        <a href="#" class="list__item__link"
                            >AWS Certification</a
                        ><small class="list__item__info"
                            >6,072,564 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">Ethical Hacking</a
                        ><small class="list__item__info"
                            >10,924,030 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">Cyber Security</a
                        ><small class="list__item__info"
                            >3,991,810 students</small
                        >
                    </li>
                </ul>
            </li>
            <li class="list__item">
                <h4>Design</h4>
                <ul class="list">
                    <li class="list__item">
                        <a href="#" class="list__item__link">Photoshop</a
                        ><small class="list__item__info"
                            >10,904,054 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">Graphic Design</a
                        ><small class="list__item__info"
                            >3,378,096 students</small
                        >
                    </li>
                    <li class="list__item">
                        <a href="#" class="list__item__link">Drawing</a
                        ><small class="list__item__info"
                            >2,409,154 students</small
                        >
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="section">
        <img
            src="/public/images/sections/instructor-1x-v3.jpg"
            alt="Become an instructor"
            class="section__image"
        />
        <h2 class="section__title">Become an instructor</h2>
        <p class="section__description">
            Instructors from around the world teach millions of students on
            Udemy. We provide the tools and skills to teach what you love.
        </p>
        <a href="#" class="btn btn--primary">Find out how</a>
    </section>
    <section class="section section--bg-light-grey">
        <h2 class="secton__title">Trusted by companies of all sizes</h2>
        <ul class="list">
            <li class="list__item">
                <img
                    src="/public/images/client-logos/nasdaq-dark.svg"
                    alt="Nasdaq partner logo"
                    class="list__item__image"
                />
            </li>
            <li class="list__item">
                <img
                    src="/public/images/client-logos/volkswagen-dark.svg"
                    alt="Volkswagen partner logo"
                    class="list__item__image"
                />
            </li>
            <li class="list__item">
                <img
                    src="/public/images/client-logos/box-dark.svg"
                    alt="box partner logo"
                    class="list__item__image"
                />
            </li>
            <li class="list__item">
                <img
                    src="/public/images/client-logos/netapp-dark.svg"
                    alt="Netapp partner logo"
                    class="list__item__image"
                />
            </li>
            <li class="list__item">
                <img
                    src="/public/images/client-logos/eventbrite-dark.svg"
                    alt="eventbrite partner logo"
                    class="list__item__image"
                />
            </li>
        </ul>
    </section>
    <section class="section">
        <img
            src="/public/images/sections/ub-1x-v3.jpg"
            alt="udemy business"
            class="section__image"
        />
        <img
            src="/public/images/udemy-logos/logo-ub.svg"
            alt="Udemy business"
        />
        <p class="section__description">
            Get unlimited access to 17,000+ of Udemy’s top courses for your
            team. Learn and improve skills across business, tech, design, and
            more.
        </p>
        <a href="#" class="btn btn--primary">Get Udemy Business</a>
    </section>
    <section class="section">
        <img
            src="/public/images/sections/transform-1x-v3.jpg"
            alt="Transform your life through education"
            class="section__image"
        />
        <h2 class="section__title">Transform your life through education</h2>
        <p class="section__description">
            Learners around the world are launching new careers, advancing in
            their fields, and enriching their lives.
        </p>
        <a href="#" class="btn btn--primary">Find out how</a>
    </section>
</main>
