<main class="main">
    <section class="section container-fluid hero">
        <img
            src="/public/images/sections/b8f46419-eca3-44c1-8ba0-ed2ca89f8884.jpg"
            alt="Start now!"
            class="hero__image"
        />
        <div class="hero__content">
            <h1 class="hero__content__title">New to Udemy? Luck you.</h1>
            <p class="hero__content__description">
                Courses start at RON64.99. Get your new-student offer before it
                expires.
            </p>
        </div>
        <div class="hero__search-opener d-tablet-none d-desktop-none">
            <button
                class="btn btn--secondary search-opener"
                data-content-load="search"
            >
                What do you want to learn?
                <i class="bi bi-search icon"></i>
            </button>
        </div>
    </section>
    <section class="section">
        <!-- Carousel with subcategories and topics (accordion) -->
        <ul class="list accordion d-tablet-none d-desktop-none">
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler active"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">Python</h3>
                </button>
                <div class="accordion__element__content">
                    <div class="carousel-wrapper">
                        <div class="carousel-wrapper__items">
                            <div class="card">
                                <a class="card-link" href="#">
                                    <div class="card__cover-container">
                                        <img
                                            src="/public/images/tutorials/python.jpg"
                                            alt="Learn Python: The Complete Python Programming Course"
                                            class="card__cover-container__image"
                                        />
                                    </div>
                                    <div class="card__details">
                                        <h4 class="card__details__title">
                                            Learn Python: The Complete Python
                                            Programming Course
                                        </h4>
                                        <ul class="list creators">
                                            <li class="list__item">
                                                Avianash Jai,
                                            </li>
                                            <li class="list__item">
                                                The Codex
                                            </li>
                                        </ul>
                                        <div class="rating">
                                            <span class="rating__number"
                                                >4.4</span
                                            >
                                            <span class="rating__stars">
                                                <i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-half"></i>
                                            </span>
                                            <small class="rating__reviews"
                                                >(3,242)</small
                                            >
                                        </div>
                                        <div class="price">RON209.99</div>
                                        <div class="badge">Bestseller</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a class="card-link" href="#">
                                    <div class="card__cover-container">
                                        <img
                                            src="/public/images/tutorials/python.jpg"
                                            alt="Learn Python: The Complete Python Programming Course"
                                            class="card__cover-container__image"
                                        />
                                    </div>
                                    <div class="card__details">
                                        <h4 class="card__details__title">
                                            Learn Python: The Complete Python
                                            Programming Course
                                        </h4>
                                        <ul class="list creators">
                                            <li class="list__item">
                                                Avianash Jai,
                                            </li>
                                            <li class="list__item">
                                                The Codex
                                            </li>
                                        </ul>
                                        <div class="rating">
                                            <span class="rating__number"
                                                >4.4</span
                                            >
                                            <span class="rating__stars">
                                                <i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-half"></i>
                                            </span>
                                            <small class="rating__reviews"
                                                >(3,242)</small
                                            >
                                        </div>
                                        <div class="price">RON209.99</div>
                                        <div class="badge">Bestseller</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a class="card-link" href="#">
                                    <div class="card__cover-container">
                                        <img
                                            src="/public/images/tutorials/python.jpg"
                                            alt="Learn Python: The Complete Python Programming Course"
                                            class="card__cover-container__image"
                                        />
                                    </div>
                                    <div class="card__details">
                                        <h4 class="card__details__title">
                                            Learn Python: The Complete Python
                                            Programming Course
                                        </h4>
                                        <ul class="list creators">
                                            <li class="list__item">
                                                Avianash Jai,
                                            </li>
                                            <li class="list__item">
                                                The Codex
                                            </li>
                                        </ul>
                                        <div class="rating">
                                            <span class="rating__number"
                                                >4.4</span
                                            >
                                            <span class="rating__stars">
                                                <i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-half"></i>
                                            </span>
                                            <small class="rating__reviews"
                                                >(3,242)</small
                                            >
                                        </div>
                                        <div class="price">RON209.99</div>
                                        <div class="badge">Bestseller</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a class="card-link" href="#">
                                    <div class="card__cover-container">
                                        <img
                                            src="/public/images/tutorials/python.jpg"
                                            alt="Learn Python: The Complete Python Programming Course"
                                            class="card__cover-container__image"
                                        />
                                    </div>
                                    <div class="card__details">
                                        <h4 class="card__details__title">
                                            Learn Python: The Complete Python
                                            Programming Course
                                        </h4>
                                        <ul class="list creators">
                                            <li class="list__item">
                                                Avianash Jai,
                                            </li>
                                            <li class="list__item">
                                                The Codex
                                            </li>
                                        </ul>
                                        <div class="rating">
                                            <span class="rating__number"
                                                >4.4</span
                                            >
                                            <span class="rating__stars">
                                                <i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-half"></i>
                                            </span>
                                            <small class="rating__reviews"
                                                >(3,242)</small
                                            >
                                        </div>
                                        <div class="price">RON209.99</div>
                                        <div class="badge">Bestseller</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a class="card-link" href="#">
                                    <div class="card__cover-container">
                                        <img
                                            src="/public/images/tutorials/python.jpg"
                                            alt="Learn Python: The Complete Python Programming Course"
                                            class="card__cover-container__image"
                                        />
                                    </div>
                                    <div class="card__details">
                                        <h4 class="card__details__title">
                                            Learn Python: The Complete Python
                                            Programming Course
                                        </h4>
                                        <ul class="list creators">
                                            <li class="list__item">
                                                Avianash Jai,
                                            </li>
                                            <li class="list__item">
                                                The Codex
                                            </li>
                                        </ul>
                                        <div class="rating">
                                            <span class="rating__number"
                                                >4.4</span
                                            >
                                            <span class="rating__stars">
                                                <i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-half"></i>
                                            </span>
                                            <small class="rating__reviews"
                                                >(3,242)</small
                                            >
                                        </div>
                                        <div class="price">RON209.99</div>
                                        <div class="badge">Bestseller</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <a class="card-link" href="#">
                                    <div class="card__cover-container">
                                        <img
                                            src="/public/images/tutorials/python.jpg"
                                            alt="Learn Python: The Complete Python Programming Course"
                                            class="card__cover-container__image"
                                        />
                                    </div>
                                    <div class="card__details">
                                        <h4 class="card__details__title">
                                            Learn Python: The Complete Python
                                            Programming Course
                                        </h4>
                                        <ul class="list creators">
                                            <li class="list__item">
                                                Avianash Jai,
                                            </li>
                                            <li class="list__item">
                                                The Codex
                                            </li>
                                        </ul>
                                        <div class="rating">
                                            <span class="rating__number"
                                                >4.4</span
                                            >
                                            <span class="rating__stars">
                                                <i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-fill"></i
                                                ><i class="bi bi-star-half"></i>
                                            </span>
                                            <small class="rating__reviews"
                                                >(3,242)</small
                                            >
                                        </div>
                                        <div class="price">RON209.99</div>
                                        <div class="badge">Bestseller</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">Excel</h3>
                </button>
                <div class="accordion__element__content d-none">
                    <div class="card">
                        <div class="card__cover-container">
                            <img
                                src="/public/images/tutorials/python.jpg"
                                alt="Learn Python: The Complete Python Programming Course"
                                class="card__cover-container__image"
                            />
                        </div>
                        <div class="card__details">
                            <h4 class="card__details__title">
                                Learn Python: The Complete Python Programming
                                Course
                            </h4>
                            <ul class="list creators">
                                <li class="list__item">Avianash Jai,</li>
                                <li class="list__item">The Codex</li>
                            </ul>
                            <div class="rating">
                                <span class="rating__number">4.4</span>
                                <span class="rating__stars">
                                    <i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-half"></i>
                                </span>
                                <small class="rating__reviews">(3,242)</small>
                            </div>
                            <div class="price">RON209.99</div>
                            <div class="badge">Bestseller</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">Web Development</h3>
                </button>
                <div class="accordion__element__content d-none">
                    Web Development
                </div>
            </li>
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">JavaScript</h3>
                </button>
                <div class="accordion__element__content d-none">
                    <div class="card">
                        <div class="card__cover-container">
                            <img
                                src="/public/images/tutorials/python.jpg"
                                alt="Learn Python: The Complete Python Programming Course"
                                class="card__cover-container__image"
                            />
                        </div>
                        <div class="card__details">
                            <h4 class="card__details__title">
                                Learn Python: The Complete Python Programming
                                Course
                            </h4>
                            <ul class="list creators">
                                <li class="list__item">Avianash Jai,</li>
                                <li class="list__item">The Codex</li>
                            </ul>
                            <div class="rating">
                                <span class="rating__number">4.4</span>
                                <span class="rating__stars">
                                    <i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-half"></i>
                                </span>
                                <small class="rating__reviews">(3,242)</small>
                            </div>
                            <div class="price">RON209.99</div>
                            <div class="badge">Bestseller</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">Data Science</h3>
                </button>
                <div class="accordion__element__content d-none">
                    <div class="card">
                        <div class="card__cover-container">
                            <img
                                src="/public/images/tutorials/python.jpg"
                                alt="Learn Python: The Complete Python Programming Course"
                                class="card__cover-container__image"
                            />
                        </div>
                        <div class="card__details">
                            <h4 class="card__details__title">
                                Learn Python: The Complete Python Programming
                                Course
                            </h4>
                            <ul class="list creators">
                                <li class="list__item">Avianash Jai,</li>
                                <li class="list__item">The Codex</li>
                            </ul>
                            <div class="rating">
                                <span class="rating__number">4.4</span>
                                <span class="rating__stars">
                                    <i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-half"></i>
                                </span>
                                <small class="rating__reviews">(3,242)</small>
                            </div>
                            <div class="price">RON209.99</div>
                            <div class="badge">Bestseller</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">AWS Certification</h3>
                </button>
                <div class="accordion__element__content d-none">
                    <div class="card">
                        <div class="card__cover-container">
                            <img
                                src="/public/images/tutorials/python.jpg"
                                alt="Learn Python: The Complete Python Programming Course"
                                class="card__cover-container__image"
                            />
                        </div>
                        <div class="card__details">
                            <h4 class="card__details__title">
                                Learn Python: The Complete Python Programming
                                Course
                            </h4>
                            <ul class="list creators">
                                <li class="list__item">Avianash Jai,</li>
                                <li class="list__item">The Codex</li>
                            </ul>
                            <div class="rating">
                                <span class="rating__number">4.4</span>
                                <span class="rating__stars">
                                    <i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-half"></i>
                                </span>
                                <small class="rating__reviews">(3,242)</small>
                            </div>
                            <div class="price">RON209.99</div>
                            <div class="badge">Bestseller</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list__item accordion__element">
                <button
                    class="accordion__element__toggler"
                    data-accordion-action="toggle"
                >
                    <h3 class="accordion-title">Drawing</h3>
                </button>
                <div class="accordion__element__content d-none">
                    <div class="card">
                        <div class="card__cover-container">
                            <img
                                src="/public/images/tutorials/python.jpg"
                                alt="Learn Python: The Complete Python Programming Course"
                                class="card__cover-container__image"
                            />
                        </div>
                        <div class="card__details">
                            <h4 class="card__details__title">
                                Learn Python: The Complete Python Programming
                                Course
                            </h4>
                            <ul class="list creators">
                                <li class="list__item">Avianash Jai,</li>
                                <li class="list__item">The Codex</li>
                            </ul>
                            <div class="rating">
                                <span class="rating__number">4.4</span>
                                <span class="rating__stars">
                                    <i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-fill"></i
                                    ><i class="bi bi-star-half"></i>
                                </span>
                                <small class="rating__reviews">(3,242)</small>
                            </div>
                            <div class="price">RON209.99</div>
                            <div class="badge">Bestseller</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="section section--bg-light-grey">
        <div class="container-fluid">
            <h2 class="section__title d-tablet-none d-desktop-none">
                Why learn on Udemy?
            </h2>
            <ul class="section__list list">
                <li class="list__item ad">
                    <i class="bi bi-play-fill icon d-mobile-none"></i>
                    <p>
                        Learn in-demand skills with over 204,000 video courses
                    </p>
                </li>
                <li class="list__item ad">
                    <i class="bi bi-star-fill icon d-mobile-none"></i>
                    <p>Choose courses taught by real-world experts</p>
                </li>
                <li class="list__item ad">
                    <i class="bi bi-infinity icon d-mobile-none"></i>
                    <p>
                        Learn at your own pace, with lifetime access on mobile
                        and desktop
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="section container-fluid tutorials">
        <!-- Students are viewing section -->
        <div class="section__content">
            <h2 class="section__title">Students are viewing</h2>
            <div class="carousel-wrapper">
                <div class="carousel-wrapper__items">
                    <div class="card">
                        <a class="card-link" href="#">
                            <div class="card__cover-container">
                                <img
                                    src="/public/images/tutorials/python.jpg"
                                    alt="Learn Python: The Complete Python Programming Course"
                                    class="card__cover-container__image"
                                />
                            </div>
                            <div class="card__details">
                                <h4 class="card__details__title">
                                    Learn Python: The Complete Python
                                    Programming Course
                                </h4>
                                <ul class="list creators">
                                    <li class="list__item">Avianash Jai,</li>
                                    <li class="list__item">The Codex</li>
                                </ul>
                                <div class="rating">
                                    <span class="rating__number">4.4</span>
                                    <span class="rating__stars">
                                        <i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-half"></i>
                                    </span>
                                    <small class="rating__reviews"
                                        >(3,242)</small
                                    >
                                </div>
                                <div class="price">RON209.99</div>
                                <div class="badge">Bestseller</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link" href="#">
                            <div class="card__cover-container">
                                <img
                                    src="/public/images/tutorials/python.jpg"
                                    alt="Learn Python: The Complete Python Programming Course"
                                    class="card__cover-container__image"
                                />
                            </div>
                            <div class="card__details">
                                <h4 class="card__details__title">
                                    Learn Python: The Complete Python
                                    Programming Course
                                </h4>
                                <ul class="list creators">
                                    <li class="list__item">Avianash Jai,</li>
                                    <li class="list__item">The Codex</li>
                                </ul>
                                <div class="rating">
                                    <span class="rating__number">4.4</span>
                                    <span class="rating__stars">
                                        <i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-half"></i>
                                    </span>
                                    <small class="rating__reviews"
                                        >(3,242)</small
                                    >
                                </div>
                                <div class="price">RON209.99</div>
                                <div class="badge">Bestseller</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link" href="#">
                            <div class="card__cover-container">
                                <img
                                    src="/public/images/tutorials/python.jpg"
                                    alt="Learn Python: The Complete Python Programming Course"
                                    class="card__cover-container__image"
                                />
                            </div>
                            <div class="card__details">
                                <h4 class="card__details__title">
                                    Learn Python: The Complete Python
                                    Programming Course
                                </h4>
                                <ul class="list creators">
                                    <li class="list__item">Avianash Jai,</li>
                                    <li class="list__item">The Codex</li>
                                </ul>
                                <div class="rating">
                                    <span class="rating__number">4.4</span>
                                    <span class="rating__stars">
                                        <i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-half"></i>
                                    </span>
                                    <small class="rating__reviews"
                                        >(3,242)</small
                                    >
                                </div>
                                <div class="price">RON209.99</div>
                                <div class="badge">Bestseller</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link" href="#">
                            <div class="card__cover-container">
                                <img
                                    src="/public/images/tutorials/python.jpg"
                                    alt="Learn Python: The Complete Python Programming Course"
                                    class="card__cover-container__image"
                                />
                            </div>
                            <div class="card__details">
                                <h4 class="card__details__title">
                                    Learn Python: The Complete Python
                                    Programming Course
                                </h4>
                                <ul class="list creators">
                                    <li class="list__item">Avianash Jai,</li>
                                    <li class="list__item">The Codex</li>
                                </ul>
                                <div class="rating">
                                    <span class="rating__number">4.4</span>
                                    <span class="rating__stars">
                                        <i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-half"></i>
                                    </span>
                                    <small class="rating__reviews"
                                        >(3,242)</small
                                    >
                                </div>
                                <div class="price">RON209.99</div>
                                <div class="badge">Bestseller</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link" href="#">
                            <div class="card__cover-container">
                                <img
                                    src="/public/images/tutorials/python.jpg"
                                    alt="Learn Python: The Complete Python Programming Course"
                                    class="card__cover-container__image"
                                />
                            </div>
                            <div class="card__details">
                                <h4 class="card__details__title">
                                    Learn Python: The Complete Python
                                    Programming Course
                                </h4>
                                <ul class="list creators">
                                    <li class="list__item">Avianash Jai,</li>
                                    <li class="list__item">The Codex</li>
                                </ul>
                                <div class="rating">
                                    <span class="rating__number">4.4</span>
                                    <span class="rating__stars">
                                        <i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-half"></i>
                                    </span>
                                    <small class="rating__reviews"
                                        >(3,242)</small
                                    >
                                </div>
                                <div class="price">RON209.99</div>
                                <div class="badge">Bestseller</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link" href="#">
                            <div class="card__cover-container">
                                <img
                                    src="/public/images/tutorials/python.jpg"
                                    alt="Learn Python: The Complete Python Programming Course"
                                    class="card__cover-container__image"
                                />
                            </div>
                            <div class="card__details">
                                <h4 class="card__details__title">
                                    Learn Python: The Complete Python
                                    Programming Course
                                </h4>
                                <ul class="list creators">
                                    <li class="list__item">Avianash Jai,</li>
                                    <li class="list__item">The Codex</li>
                                </ul>
                                <div class="rating">
                                    <span class="rating__number">4.4</span>
                                    <span class="rating__stars">
                                        <i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-fill"></i
                                        ><i class="bi bi-star-half"></i>
                                    </span>
                                    <small class="rating__reviews"
                                        >(3,242)</small
                                    >
                                </div>
                                <div class="price">RON209.99</div>
                                <div class="badge">Bestseller</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section container-fluid top-categories">
        <div class="section__content">
            <h2 class="section__content__title">Top categories</h2>
            <ul class="section__content__list list">
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-design-v2.jpg"
                            alt="Design Udemy"
                        />
                        <p>Design</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Design</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-development-v2.jpg"
                            alt="Development Udemy"
                        />
                        <p>Development</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Development</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-marketing-v2.jpg"
                            alt="Marketing Udemy"
                        />
                        <p>Marketing</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Marketing</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-it-and-software-v2.jpg"
                            alt="IT and Software Udemy"
                        />
                        <p>IT and Software</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >IT and Software</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-personal-development-v2.jpg"
                            alt="Personal Development Udemy"
                        />
                        <p>Personal Development</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Personal Development</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-business-v2.jpg"
                            alt="Business Udemy"
                        />
                        <p>Business</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Business</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-photography-v2.jpg"
                            alt="Photography Udemy"
                        />
                        <p>Photography</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Photography</a
                    >
                </li>
                <li class="list__item">
                    <a href="#" class="list__item__link d-mobile-none">
                        <img
                            src="/public/images/categories/lohp-category-music-v2.jpg"
                            alt="Music Udemy"
                        />
                        <p>Music</p></a
                    >
                    <a
                        href="#"
                        class="btn btn--outline-black-pill d-tablet-none d-desktop-none"
                        >Music</a
                    >
                </li>
            </ul>
        </div>
    </section>
    <section class="section section--bg-light-grey featured-top-categories">
        <div class="container-fluid">
            <h2 class="section__title">Featured topics by category</h2>
            <ul class="list section__body">
                <li class="list__item">
                    <h4 class="list__item__title">Development</h4>
                    <ul class="section__list list">
                        <li class="list__item">
                            <a href="#" class="list__item__link">Python</a
                            ><small class="list__item__info"
                                >36,327,611 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >Web Development</a
                            ><small class="list__item__info"
                                >11,409,567 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >Machine Learning</a
                            ><small class="list__item__info"
                                >7,066,683 students</small
                            >
                        </li>
                    </ul>
                </li>
                <li class="list__item">
                    <h4 class="list__item__title">Business</h4>
                    <ul class="list">
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >Financial Analysis</a
                            ><small class="list__item__info"
                                >1,194,924 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link">SQL</a
                            ><small class="list__item__info"
                                >5,971,662 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link">PMP</a
                            ><small class="list__item__info"
                                >1,732,442 students</small
                            >
                        </li>
                    </ul>
                </li>
                <li class="list__item">
                    <h4 class="list__item__title">IT and software</h4>
                    <ul class="list">
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >AWS Certification</a
                            ><small class="list__item__info"
                                >6,072,564 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >Ethical Hacking</a
                            ><small class="list__item__info"
                                >10,924,030 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >Cyber Security</a
                            ><small class="list__item__info"
                                >3,991,810 students</small
                            >
                        </li>
                    </ul>
                </li>
                <li class="list__item">
                    <h4 class="list__item__title">Design</h4>
                    <ul class="list">
                        <li class="list__item">
                            <a href="#" class="list__item__link">Photoshop</a
                            ><small class="list__item__info"
                                >10,904,054 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link"
                                >Graphic Design</a
                            ><small class="list__item__info"
                                >3,378,096 students</small
                            >
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__item__link">Drawing</a
                            ><small class="list__item__info"
                                >2,409,154 students</small
                            >
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="link-wrapper">
                <a href="#" class="btn btn--secondary">Explore more topics</a>
            </div>
        </div>
    </section>
    <section class="section container">
        <div class="section__cover">
            <img
                src="/public/images/sections/instructor-1x-v3.jpg"
                alt="Become an instructor"
                class="section__cover__image"
            />
        </div>
        <div class="section__content">
            <h2 class="section__content__title">Become an instructor</h2>
            <p class="section__content__body">
                Instructors from around the world teach millions of students on
                Udemy. We provide the tools and skills to teach what you love.
            </p>
            <a href="#" class="btn btn--primary">Start teaching today</a>
        </div>
    </section>
    <section class="section section--bg-light-grey partner-logos">
        <div class="container">
            <h2 class="section__title">Trusted by companies of all sizes</h2>
            <a href="#">
                <ul class="section__list list">
                    <li class="list__item">
                        <img
                            src="/public/images/client-logos/nasdaq-dark.svg"
                            alt="Nasdaq partner logo"
                            class="list__item__image logo"
                        />
                    </li>
                    <li class="list__item">
                        <img
                            src="/public/images/client-logos/volkswagen-dark.svg"
                            alt="Volkswagen partner logo"
                            class="list__item__image logo"
                        />
                    </li>
                    <li class="list__item">
                        <img
                            src="/public/images/client-logos/box-dark.svg"
                            alt="box partner logo"
                            class="list__item__image logo"
                        />
                    </li>
                    <li class="list__item">
                        <img
                            src="/public/images/client-logos/netapp-dark.svg"
                            alt="Netapp partner logo"
                            class="list__item__image logo"
                        />
                    </li>
                    <li class="list__item">
                        <img
                            src="/public/images/client-logos/eventbrite-dark.svg"
                            alt="eventbrite partner logo"
                            class="list__item__image logo"
                        />
                    </li>
                </ul>
            </a>
        </div>
    </section>
    <section class="section container">
        <div class="section__cover">
            <img
                src="/public/images/sections/ub-1x-v3.jpg"
                alt="udemy business"
                class="section__cover__image"
            />
        </div>
        <div class="section__content">
            <img
                src="/public/images/udemy-logos/logo-ub.svg"
                alt="Udemy business"
                class="section__content__heading-image"
            />
            <p class="section__content__body">
                Get unlimited access to 17,000+ of Udemy's top courses for your
                team. Learn and improve skills across business, tech, design,
                and more.
            </p>
            <a href="#" class="btn btn--primary">Get Udemy Business</a>
        </div>
    </section>
    <section class="section container">
        <div class="section__cover">
            <img
                src="/public/images/sections/transform-1x-v3.jpg"
                alt="Transform your life through education"
                class="section__cover__image"
            />
        </div>
        <div class="section__content">
            <h2 class="section__content__title">
                Transform your life through education
            </h2>
            <p class="section__content__body">
                Learners around the world are launching new careers, advancing
                in their fields, and enriching their lives.
            </p>
            <a href="#" class="btn btn--primary">Find out how</a>
        </div>
    </section>
</main>
