<div id="languageChanger" class="modal d-none">
    <div class="modal__header">
        <h3 class="modal__header__title">Choose a language</h3>
        <button id="languageChangerClose" class="modal__header__close">
            <i class="bi bi-x close-icon"></i>
        </button>
    </div>
    <div class="modal__body">
        <ul class="list">
            <li class="list__item">
                <a href="#" class="list__item__link active">English</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Deutsch</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Español</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Français</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Bahasa Indonesia</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Italiano</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">日本語</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">한국어</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Nederlands</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Polski</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Português</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Română</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Русский</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">ภาษาไทย</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">Türkçe</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">中文(简体)</a>
            </li>
            <li class="list__item">
                <a href="#" class="list__item__link">中文(繁體)</a>
            </li>
        </ul>
    </div>
</div>
