<div class="search">
    <div class="modal__header">
        <div class="search__actions">
            <input
                type="text"
                class="search__actions__input"
                placeholder="Search for anything"
                autofocus
            />
            <i class="bi bi-search icon"></i>

            <button id="modalClose" class="modal__header__close close-icon">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>
    <div class="modal__body">
        <ul class="list search__matches">
            <li class="list__item match">Python</li>
            <li class="list__item match">JavaScript</li>
            <li class="list__item match">Web development</li>
        </ul>
    </div>
</div>
