<div id="backdrop" class="backdrop d-none">
    <aside id="sideNavigation" class="side-nav">
        <span class="side-nav__content visibility-hidden opacity-low">
            <ul class="list">
                <li class="list__item">
                    <a href="/" class="list__item__link">Log in</a>
                </li>
                <li class="list__item">
                    <a href="/" class="list__item__link">Sign up</a>
                </li>
            </ul>
            <small class="list-title">Most popular</small>
            <ul class="list tree">
                <li class="list__item">Web Development</li>
                <li class="list__item">Mobile Development</li>
                <li class="list__item">Game Development</li>
                <li class="list__item">Entrepreneurship</li>
                <li class="list__item">Business Analytics & Intelligence</li>
                <li class="list__item">Digital Marketing</li>
                <li class="list__item">Graphic Design & Illustration</li>
                <li class="list__item">IT Certifications</li>
                <li class="list__item">Personal Transformation</li>
                <li class="list__item">All categories</li>
            </ul>
            <small class="list-title">More from Udemy</small>
            <ul class="list">
                <li class="list__item"><a href="/">Get the app</a></li>
                <li class="list__item"><a href="/">Invite friends</a></li>
                <li class="list__item"><a href="/">Help</a></li>
            </ul>
            <div class="button-wrapper">
                <button class="btn btn--secondary language-changer">
                    <i class="bi bi-globe icon"></i>
                    English
                </button>
            </div>
        </span>
    </aside>
</div>
