// Noto Serif Georgian
// - Extra Bold(800)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-ExtraBold.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

// - Bold(700)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

// - Semi Bold(600)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

// - Medium(500)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

// - Normal(400)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Normal.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

// - Light(300)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

// - Extra Light(200)
@font-face {
    font-family: "Noto Serif Georgian";
    src: url("/public/fonts/NotoSerifGeorgian/NotoSerifGeorgian-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

// // Raleway
// - ExtraBold(800)
@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

// - Bold(700)
@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

// - SemiBold(600)
@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

// - Medium(500)
@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

// - Regular/Normal(400)
@font-face {
    font-family: "Raleway";
    src: url("/public/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
