$fontRaleway: "Raleway", sans-serif;
$fontNotoSerifGeorgian: "Noto Serif Georgian", serif;

$breakpointMobile: "576px";
$breakpointTablet: "992px";

$themeBlack: #1c1d1f;
$themeGrey: #6a6f73;
$themeLightGrey: #d1d7dc; // Udemy info section icons background color
$themeLightestGrey: #f7f9fa; // Udemy info section background color, top categories bg, featured topics by category
$themeLightYellow: #eceb98; // Bestseller background
$themeLightOrange: #e59819; // Rating star
$themeOrange: #b4690e; // Rating number
$themeBrown: #3d3c0a; // Bestseller text color
$themePurple: #5c34d3; // Featured topics by category
$themeWhite: #ffffff;
$themeModalBackdrop: rgba(28, 29, 31, 0.8);

// Hovers
$themeOnHoverPrimary: #000000; // primary button
$themeOnHoverSecondary: #f5f5f5; // secondary button
$themeOnHoverLink: #401b9c;
