@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "/node_modules/normalize.css/normalize.css";
@import "fonts";
@import "variables";

// General
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: $themePurple;
    color: $themeWhite;
}

// Typography
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: $fontRaleway;
    height: 100vh;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
}

.wrapper {
    position: relative;
    height: inherit;
    display: grid;
    grid-template-areas:
        "alert"
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontNotoSerifGeorgian;
}

a {
    text-decoration: none;

    &:active,
    &:focus {
        -webkit-tap-highlight-color: transparent;
    }
}

// Utility classes
.container {
    max-width: 80rem;
    margin: auto;
}

.container-fluid {
    max-width: 120rem;
    margin: auto;
}

.d-none {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

// Elements
// - buttons
.btn {
    border: 0;
    padding: 1.3rem 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.7rem;
    display: block;

    &:active {
        -webkit-tap-highlight-color: transparent;
    }

    &--primary {
        background-color: $themeBlack;
        color: $themeWhite;

        &:hover {
            background-color: $themeOnHoverPrimary;
        }
    }

    &--secondary {
        background-color: transparent;
        border: 0.1rem solid $themeBlack;
        padding: 0.9rem 0;
        font-size: 1.3rem;
        font-weight: 800;
        color: $themeBlack;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    &--outline {
        border: 0.1rem solid $themeWhite;
        color: $themeWhite;
        font-size: 1.5rem;
        font-weight: 500;

        &.language-changer {
            padding: 1rem 4rem 1rem 1.4rem;
        }
    }

    &--outline-black-pill {
        border: 0.1rem solid $themeBlack;
        display: inline-block;
        padding: 1.4rem;
        border-radius: 23rem;
        font-size: 1.5rem;
        color: $themeBlack;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    .icon {
        margin-right: 0.25rem;
    }

    .text {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

// - list
.list {
    padding-left: 0;
    list-style: none;

    &__item__info {
        display: block;
    }
}

.badge {
    background-color: $themeLightYellow;
    color: $themeBrown;
    display: inline-block;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.card {
    text-align: left;

    &__cover-container__image {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        max-width: 100%;
        height: auto;
        border: 1px solid $themeGrey;
        transition: filter 0.3s ease-in-out;
        -webkit-transition: filter 0.3s ease-in-out;
        -moz-transition: filter 0.3s ease-in-out;
        -o-transition: filter 0.3s ease-in-out;
        -ms-transition: filter 0.3s ease-in-out;
    }

    &__details {
        &__title {
            font-family: $fontRaleway;
            font-size: 1.6rem;
            font-weight: 800;
            margin-top: 0.5rem;
        }

        .creators {
            .list__item {
                display: inline;
                color: $themeGrey;
                font-size: 1.2rem;
            }
        }

        .rating {
            &__number {
                color: $themeOrange;
                font-weight: bold;
                font-size: 1.6rem;
            }

            &__stars {
                color: $themeLightOrange;
                display: inline-flex;
                gap: 0.2rem;
                font-size: 1.2rem;
            }

            &__reviews {
                color: $themeGrey;
                font-size: 1.4rem;
                margin-left: 0.4rem;
            }
        }

        .price {
            margin: 0.6rem 0;
            font-weight: 800;
            font-size: 1.6rem;
        }
    }

    &:hover {
        .card__cover-container__image {
            filter: brightness(80%);
            -webkit-filter: brightness(80%);
        }
    }
}

// Components
// - alert (notification)
.alert {
    grid-area: alert;
    line-height: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.4rem;

    @media screen and (min-width: 768px) {
        position: relative;
    }

    &--warning {
        background-color: $themeLightYellow;
    }

    &__body {
        &__description {
            display: inline;
        }

        &__title {
            display: inline;
            font-family: $fontRaleway;

            @media screen and (min-width: $breakpointMobile) {
                display: block;
                text-align: center;
                margin-top: 0.5rem;
                font-size: 1.6rem;
            }
        }
    }

    &__close {
        border: 0;
        background: none;
        font-size: 2.2rem;
        margin-bottom: 1.1rem;
        cursor: pointer;

        @media screen and (min-width: $breakpointMobile) {
            position: absolute;
            right: 1.4rem;
            top: 1.2rem;
        }
    }
}

// - header with navigation
.header {
    grid-area: header;
    z-index: 99;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    font-size: 2.4rem;
    font-weight: bold;

    .nav {
        &__button {
            padding: 0;
            font-size: inherit;
            -webkit-text-stroke: 0.07rem;
        }

        &__list {
            display: flex;
            align-items: center;

            &__link {
                color: $themeBlack;
                font-size: 2rem;
                padding: 0 0.6rem;
                -webkit-text-stroke: 0.07rem;
            }

            .list__item {
                text-align: center;

                &:nth-child(even) {
                    flex-grow: 100;
                }
                &:nth-child(odd) {
                    flex-grow: auto;
                }
            }
        }
    }

    .logo-holder {
        display: flex;
        justify-content: center;

        .logo {
            width: 7rem;
            max-width: 7rem;
            margin-left: 8vw;
        }
    }
}

// - modal
.modal-wrapper {
    line-height: unset;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $themeModalBackdrop;

    .modal {
        z-index: 101;
        height: inherit;
        width: inherit;
        background-color: $themeWhite;
        top: 0;
        bottom: 0;

        @media screen and (min-width: $breakpointMobile) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            bottom: initial;
            height: auto;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.6rem;

            &__title {
                font-family: $fontRaleway;
                font-weight: 800;
                font-size: 1.5rem;
                margin-bottom: 0.4rem;
            }

            &__close {
                font-size: 2.4rem;
                cursor: pointer;
                border: 0;
                background: none;
                margin-right: -0.6rem;
            }
        }

        &__body {
            @media screen and (min-width: $breakpointMobile) {
                display: flex;
                justify-content: flex-start;
            }

            .list {
                @media screen and (min-width: $breakpointMobile) {
                    min-width: 20rem;
                }

                &__item {
                    font-size: 1.3rem;

                    &__link {
                        display: inline-block;
                        padding: 1rem 1.4rem;
                        width: 100%;
                        color: $themeBlack;

                        &:hover {
                            color: $themeOnHoverLink;
                        }

                        &.active {
                            border: 0.1rem solid $themeBlack;
                        }
                    }
                }
            }
        }
    }
}

// - languages-list
.languages-list {
    padding: 3rem;
}

// - search
.search {
    &__actions {
        width: 100%;
        border-bottom: 0.1rem solid $themeLightGrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        &__input {
            order: 1;
            border: 0;
            font-size: 1.6rem;
            width: 100%;
            padding: 0.6rem;

            &:not(:placeholder-shown) + .icon {
                color: $themeBlack;
            }

            &:focus {
                outline: none;
            }
        }

        .icon {
            order: 0;
            font-size: 1.8rem;
            -webkit-text-stroke: 0.07rem;
            margin-right: 2rem;
            color: $themeGrey;
        }

        .close-icon {
            font-size: 3rem;
            -webkit-text-stroke: 0.07rem;
            order: 2;
        }
    }

    &__matches {
        padding: 0.3rem 1rem;

        .match {
            padding: 0.5rem 0;
            display: flex;
            align-items: center;

            &::before {
                content: "\F52A";
                padding: 0 1.2rem;
                font-size: 1.4rem;
                -webkit-text-stroke: 0.07rem;
                font-family: "bootstrap-icons";
            }
        }
    }
}

// - accordion
.accordion {
    &__element {
        border-top: 1px solid $themeLightGrey;

        &__toggler {
            border: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 1.5rem 0;
            background-color: $themeWhite;

            .accordion-title {
                font-family: $fontRaleway;
                text-align: left;
            }

            &::after {
                content: "\F282";
                text-align: right;
                font-family: "bootstrap-icons";
                font-weight: 800;
                font-size: 1.3rem;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
            }

            &.active::after {
                -webkit-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
        }

        &__content {
            padding-bottom: 2.8rem;
        }
    }

    &:last-of-type {
        border-bottom: 1px solid $themeLightGrey;
    }
}

// - section
.section {
    padding: 2rem 2.4rem;
    margin-bottom: 4rem;
    text-align: center;

    &__image {
        height: auto;
        max-width: 100%;
        padding: 0 2rem;
    }

    &__heading-image {
        max-width: 26rem;
        margin: 1.4rem 0 1rem 0;
        display: inline-block;
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 2.4rem;
    }

    &__body {
        margin-bottom: 2rem;
    }

    &--bg-light-grey {
        background: $themeLightestGrey;
        padding: 3.4rem 2rem;

        .list {
            &__item {
                padding-bottom: 1.2rem;
                font-size: 1.6rem;
                font-weight: 800;
            }
        }

        .section__title {
            margin-top: 0;
        }
    }
}

// Hero section
.hero {
    padding: 0;
    margin-bottom: 1rem;

    &__image {
        max-width: 100%;
        height: auto;
    }

    &__content {
        padding: 2rem 2.4rem;
        text-align: left;

        &__title {
            font-size: 2.4rem;
            margin-top: 0;
        }

        &__description {
            font-size: 1.6rem;
        }
    }

    &__search-opener {
        padding: 0 2.4rem;

        .btn {
            display: block;
            padding: 1.5rem 1.2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $themeGrey;
            font-weight: 500;
            font-size: 1.5rem;

            .icon {
                font-size: 1.6rem;
                -webkit-text-stroke: 0.07rem;
                color: $themeBlack;
            }
        }
    }
}

// "Students are watching" section
.tutorials {
    .section {
        &__title {
            text-align: left;
            font-family: $fontRaleway;
            font-size: 2.4rem;
            font-weight: 800;
        }
    }
}

// Top categories section
.top-categories {
    .section {
        &__title {
            font-family: $fontRaleway;
            font-weight: 800;
            text-align: left;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;

            .list__item {
                display: inline;

                .btn {
                    font-weight: 900;
                }
            }
        }
    }
}

// Featured top categories section
.featured-top-categories {
    .section {
        &__title {
            font-family: $fontRaleway;
            font-weight: 800;
            text-align: left;
        }

        &__body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            text-align: left;

            .list__item__title {
                font-family: $fontRaleway;
                font-weight: 800;
                font-size: 1.5rem;
            }

            .list {
                margin-bottom: 2rem;
                min-width: 17rem;

                &__item {
                    font-size: 1.4rem;
                    padding-bottom: 0;

                    &__info {
                        font-size: 1.2rem;
                        color: $themeGrey;
                        font-weight: normal;
                    }

                    &__link {
                        color: $themePurple;
                        text-decoration: underline;
                        font-weight: 700;
                        margin: 1.8rem 0 0.6rem;
                        display: inline-block;

                        &:hover {
                            color: $themeOnHoverLink;
                        }
                    }
                }
            }
        }
    }
}

// Partner logos section
.partner-logos {
    .section {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem 4rem;

            .logo {
                vertical-align: middle;
            }
        }
    }
}

.main {
    grid-area: content;
}

// - footer
.footer {
    grid-area: footer;
    line-height: initial;
    background-color: $themeBlack;
    color: $themeWhite;
    padding: 2rem 2.4rem 3rem;

    @media screen and (min-width: $breakpointMobile) {
        padding: 3.6rem 5rem;

        &__logo-copyright {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__actions {
        @media screen and (min-width: $breakpointMobile) {
            display: flex;
            justify-content: space-between;
        }

        .button-wrapper {
            @media screen and (min-width: $breakpointMobile) {
                order: 2;
            }

            .language-changer:hover {
                background-color: lighten($themeBlack, 10%);
            }
        }

        .links {
            margin: 0 0 2.8rem 0;

            @media screen and (min-width: $breakpointMobile) {
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                gap: 10%;
                order: 1;
            }

            .list {
                &:not(:first-child):not(:last-child) {
                    margin: 2.8rem 0 0 0;
                }

                @media screen and (min-width: $breakpointMobile) {
                    &:not(:first-child):not(:last-child) {
                        margin: 0;
                    }
                }

                &__item {
                    padding-bottom: 1rem;

                    &__link {
                        color: $themeWhite;
                        font-size: 1.3rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        margin-top: 2.5rem;
    }

    .logo {
        width: 9rem;
    }

    .copyright {
        margin-top: 1rem;
        display: block;
    }
}

// mobile
@media screen and (max-width: $breakpointMobile) {
    .d-mobile-none {
        display: none;
    }
}

// tablet
@media (min-width: $breakpointMobile) and (max-width: $breakpointTablet) {
    .d-tablet-none {
        display: none;
    }
}

// desktop
@media screen and (min-width: $breakpointTablet) {
    .d-desktop-none {
        display: none;
    }
}
